/* Helpers */
.center-text {
  text-align: center !important;
}

.full-height {
  height: 100vh !important;
}

.vertical-center-admin-layout {
  height: calc(100vh - 300px) !important
}

.full-width {
  width: 100%;
}

.float-right {
  float: right;
}

/* Loader */
.loading-indicator {
  filter: blur(1px)
}

/* CenterWrapper */
#auth-wrapper .bordered-box {
  border: 1px solid #e8e8e8;
}

#auth-wrapper .bordered-box:hover {}

/* Form */
.ant-form-item-label label:after {
  content: '' !important;
}

.ant-row.ant-form-item {
  margin-bottom: 5px !important;
}

.ant-form-item-control {
  line-height: 0% !important;
  position: unset;
  zoom: 1;
}

.input-has-error {
  position: relative;
  top: 10px;
  color: red;
  opacity: 1;
  animation: fadein;
  animation-duration: 1s;
}

.ant-form-item-control.has-error {
  margin-bottom: 10px;
}

/* AuthWrapper */
#auth-wrapper .logo {
  width: 50%;
}

/* AnimationWrapper */
#animation-wrapper {
  animation: fadein;
  animation-duration: 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Sidebar */
.logo img {
  width: 100%;
}

/* Datatable */
#btable {
  border: 1px solid #e8e8e8;
}

#btable td {
  padding: 10px;
}

#btable tr:nth-child(even) {
  background-color: #fbfbfb !important;
}







/* body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
} */

.table-header {
  padding: 30px !important;
}

table {
  /* border: 1px solid #ccc; */
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  /* border: 1px solid #ddd; */
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  /* text-align: center; */
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}