/* Helpers */
.center-text {
  text-align: center !important;
}

.full-height {
  height: 100vh !important;
}

.vertical-center-admin-layout {
  height: calc(100vh - 300px) !important
}

.full-width {
  width: 100%;
}

/* Loader */
.loading-indicator {
  filter: blur(1px)
}

/* CenterWrapper */
#auth-wrapper .bordered-box {
  border: 1px solid #e8e8e8;
}

#auth-wrapper .bordered-box:hover {}

/* Form */
.ant-form-item-label label:after {
  content: '' !important;
}

.ant-row.ant-form-item {
  margin-bottom: 20px !important;
}

.ant-form-item-control {
  line-height: 0% !important;
  position: unset;
  zoom: 1;
}

.input-has-error {
  position: relative;
  top: 10px;
  color: red;
  opacity: 1;
  animation: fadein;
  animation-duration: 1s;
}

.ant-form-item-control.has-error {
  margin-bottom: 10px;
}

/* AuthWrapper */
#auth-wrapper .logo {
  width: 50%;
}

/* AnimationWrapper */
#animation-wrapper {
  animation: fadein;
  animation-duration: 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}